<?xml version="1.0"?>

<model>
  <name>Avular Origin V1.0</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Tijs van der Smagt</name>
    <email>t.smagt@avular.com</email>
  </author>

  <author>
    <name>Bob Hendrikx</name>
    <email>b.hendrikx@avular.com</email>
  </author>

  <description>
  This model contains the Avular Origin model for simulation. This is a simplified model designed to get started immeadiatly.

  It has the following sensors included in the model:
  * Ouster OS1-32
  * Realsense D435
  * GNSS (without covariance, as not supported by gazebo)

  It is controlled through a diff-drive plugin which mimics the skidsteer that the actual origin also has.
  However, the default plugin of gazebo does not have very accurate odometry. The actual origin has a more advanced odometry system, which will perform better.

  A ros_gz_bridge configuration has been supplied to easily start using it with ROS.

  The Origin as supplied by Avular will have some additional features and interaction requirements. 
  For more information about this, see our [examples repository](https://github.com/avular-robotics/example_origin_ros).
  </description>
</model>
